language: R
sudo: false

r_build_args: --no-build-vignettes --no-manual --no-resave-data
r_check_args: --no-build-vignettes --no-manual

repos:
  CRAN: https://cloud.r-project.org
  ropensci: http://packages.ropensci.org

matrix:
  include:
  - r: release
  - r: oldrel
  - r: devel
  - os: osx
  - os: linux
  allow_failures:
  - os: osx

addons:
 apt:
   sources:
   - ubuntu-toolchain-r-test
   packages:
   - gcc-4.9
   - g++-4.9

r_github_packages:
  - jimhester/covr

after_success:
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then Rscript -e 'covr::codecov()'; fi

notifications:
  email:
    on_success: change
    on_failure: change
